table {
    border-collapse: collapse;
    border-spacing: 1px;
    border: 1px black;
    outline: 1px black;
}

td {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

td:hover {
    border: -2px inset black;
    outline: 2px outset black;
    position: relative;
    z-index:1;
    padding:1px;
}
