.receiptTable {
    border-collapse: collapse;
    border-spacing: 1px;
    outline: 1px black;
}

.receiptTD, .receiptTH {
}

td:hover {
    border: -2px inset black;
    outline: 2px outset black;
    position: relative;
    z-index:1;
    padding:1px;
}
